<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Your Message</title>
  </head>
  <body>
    <form action="/new" method="POST">
      <h1>Enter your message</h1>
      <input name="usernameText" type="text" placeholder="What's your name?" />
      <input
        name="messageText"
        type="text"
        placeholder="What do you want to say?"
      />
      <button type="submit">Send</button>
    </form>

    <a href="/">Back to Home Page</a>
  </body>
</html>
