<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Detail</title>
  </head>
  <body>
    <p><%= msg.user %></p>
    <p><%= msg.text %></p>
    <p><%= msg.added %></p>

    <a href="/">Back to Home Page</a>
  </body>
</html>
